page-gallery {
  .toolbar-background-ios,
  .toolbar-background-md {
    background: #000000;
  }

  ion-header {
    ion-navbar {
      .close_button {
        position: fixed;
        top: 7px;
        left: 12px;
        float: left;
        color: white;
        font-size: 40px;
      }
    }
  }
  ion-content {
    .social {
      position: absolute;
      z-index: 100;
      bottom: 7px;
      width: 100%;
      .separator {
        width: 95%;
        height: 1px;
        background: white;
        margin: 0px auto;
        bottom: 25px;
      }
      button {
        padding: 10px;
        font-size: 13px;
        background: #ff000000;
        margin-left: 15px;
        color: white;
        ion-icon {
          vertical-align: top;
        }
      }
      .image_not_liked {
        color: white;
      }
      .image_liked {
        color: rgb(54, 106, 201);
      }
    }

    .scroll-content {
      background: #000000;
    }
    ion-slides {
      background: black;
      ion-slide {
        // .gallery_image {
        //   max-height: 50%;
        // }
      }
    }
    .social_section {
      position: absolute;
      bottom: 0px;
      width: 100%;
    }

    .likes_count {
      display: inline-flex;
      padding: 10px 10px;

      .like_count_background {
        background: #3669c9;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        text-align: center;
        .like_count_icon {
          width: 10px;
          height: 10px;
          margin: auto auto;
          position: relative;
          top: -4px;
        }
      }
      .like_count_text {
        color: darkgrey;
        font-size: 12px;
        padding: 0px 5px;
      }
      .separator {
        width: 92%;
        height: 1px;
        background: #ededed;
        margin: 0px auto;
      }
    }
  }
}
