page-gallery {
  .toolbar-background-ios,
  .toolbar-background-md {
    background: #000000;
  }

  ion-header {
    ion-navbar {
      .close_button {
        position: fixed;
        top: 7px;
        left: 12px;
        float: left;
        color: white;
        font-size: 40px;
      }
    }
  }
  ion-content {
    ion-scroll.item {
      height: 100%;
    }
    .scroll-content {
      background: #000000;
    }
    ion-slides {
      background: black;
      ion-slide {
        .gallery_image {
          max-height: 50%;
        }
      }
    }
    .social_section {
      position: absolute;
      bottom: 0px;
      width: 100%;

      .separator {
        width: 95%;
        height: 1px;
        background: white;
        margin: 0px auto;
      }
    }

    .likes_count {
      display: inline-flex;
      padding: 5px 10px;
      .like_count_background {
        background: #3669c9;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        text-align: center;
        .like_count_icon {
          width: 10px;
          height: 10px;
          margin: auto auto;
          position: relative;
          top: -4px;
        }
      }
      .like_count_text {
        color: darkgrey;
        font-size: 12px;
        padding: 0px 5px;
      }
    }
  }
}
