<ion-header>
  <ion-navbar>
    <ion-title>
      {{ albumTitle }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <ion-scroll scrollY="true"> -->

  <ion-list *ngIf="images.length === 0">
    <ion-card>
      <img width="100%" height="150px" src="../../assets/imgs/spinner.gif">
      <button clear small icon-start>
        <ion-icon name='thumbs-up'></ion-icon>
        Like
      </button>
    </ion-card>
    <ion-card>
      <img width="100%" height="150px" src="../../assets/imgs/spinner.gif">
      <button clear small icon-start>
        <ion-icon name='thumbs-up'></ion-icon>
        Like
      </button>
    </ion-card>
    <ion-card>
      <img width="100%" height="150px" src="../../assets/imgs/spinner.gif">
      <button clear small icon-start>
        <ion-icon name='thumbs-up'></ion-icon>
        Like
      </button>
    </ion-card>
  </ion-list>


  <ion-list no-lines no-padding *ngIf="images.length !== 0">
    <ion-card *ngFor="let image of images; let i = index;">
      <!-- <img *ngIf="loading" src="../../assets/imgs/loading.gif" alt="loading" style="width:100%x;height:250px;" /> -->
      <div style="background: rgb(97, 96, 96);">
        <img [src]="image.url" (load)="image.loaded = true" [hidden]="!image.loaded" (click)="itemSelected(i)" />
      </div>
      <img width="100%" height="150px" src="../../assets/imgs/spinner.gif" [hidden]="image.loaded">
      <div *ngIf="image.likeCount !== 0" class="likes_count">
        <div class="like_count_background">
          <div class="like_count_icon">
            <ion-icon style="color: white; font-size: 8px;" name='thumbs-up'></ion-icon>
          </div>
        </div>
        <div *ngIf="image.likeCount > 1 && image.isLiked === false" class="like_count_text"> {{ image.likeCount }}</div>
        <div *ngIf="image.likeCount > 1 && image.isLiked === true" class="like_count_text"> You and {{ image.likeCount - 1 }} others</div>
        <div *ngIf="image.likeCount === 1 && image.isLiked === true" class="like_count_text">You</div>
      </div>
      <div *ngIf="image.likeCount !== 0" class="separator"></div>
      <button [ngClass]="{'image_not_liked': !image.isLiked, 'image_liked': image.isLiked}" clear small icon-start (click)="likeImage(image)">
        <ion-icon [@likeAnimation]='image.state' name="{{ image.isLiked ? 'thumbs-up' : 'thumbs-up-outline'  }}"></ion-icon> Like
      </button>

      <!-- <button clear small icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Shares
        </button> -->

      <!-- <ion-row>
        <ion-col>
          <button [ngClass]="{'image_not_liked': !image.isLiked, 'image_liked': image.isLiked}" clear small icon-start (click)="likeImage(image)">
            <ion-icon name='thumbs-up'></ion-icon>
            {{ image.likes }} Likes
          </button>
        </ion-col>
        <ion-col>
            <button [ngClass]="{'image_not_liked': !image.isLiked, 'image_liked': image.isLiked}" clear small icon-start (click)="likeImage(image)">
              <ion-icon name='share-alt'></ion-icon>
              Shares
            </button>
          </ion-col>
      </ion-row> -->
    </ion-card>
    <!-- <ion-img src="{{image.url}}"></ion-img>

    <p></p>

    <div class="heart_icon" (click)="likeImage(image)">

        <ion-icon name="thumbs-up"  [ngClass]="{'image_not_liked': !image.isLiked, 'image_liked': image.isLiked}"></ion-icon>
        <span style="width: fit-content; font-size: 15px;" [ngClass]="{'image_not_liked': !image.isLiked, 'image_liked': image.isLiked}">Like</span>
        <span style="float: right;">{{image.likes}}</span>
    </div>
    <div class="item_separator"></div> -->
  </ion-list>

  <!-- </ion-scroll> -->
</ion-content>
