<ion-header>
  <ion-navbar>
    <ion-title>
      {{ albumName }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg social-cards">
  <!-- <ion-scroll scrollY="true"> -->

  <ion-list *ngIf="loading">
    <ion-card>
      <img src="../../assets/imgs/spinner.gif" alt="loading" style="width:100%x;height:250px;" />
      <button clear small icon-start>
        <ion-icon name='thumbs-up'></ion-icon>
        0 Likes
      </button>
    </ion-card>
    <ion-card>
      <img src="../../assets/imgs/spinner.gif" alt="loading" style="width:100%x;height:250px;" />
      <button clear small icon-start>
        <ion-icon name='thumbs-up'></ion-icon>
        0 Likes
      </button>
    </ion-card>
    <ion-card>
      <img src="../../assets/imgs/spinner.gif" alt="loading" style="width:100%x;height:250px;" />
      <button clear small icon-start>
        <ion-icon name='thumbs-up'></ion-icon>
        0 Likes
      </button>
    </ion-card>
  </ion-list>


  <ion-list no-lines no-padding *ngFor="let image of images">
    <ion-card>
      <img *ngIf="loading" src="../../assets/imgs/loading.gif" alt="loading" style="width:100%x;height:250px;" />
      <img [hidden]="loading" src="{{image.url}}" />

      <button [ngClass]="{'image_not_liked': !image.isLiked, 'image_liked': image.isLiked}" clear small icon-start (click)="likeImage(image)">
        <ion-icon name='thumbs-up'></ion-icon>
        {{ image.likes }} Likes
      </button>

      <!-- <button clear small icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Shares
        </button> -->

      <!-- <ion-row>
        <ion-col>
          <button [ngClass]="{'image_not_liked': !image.isLiked, 'image_liked': image.isLiked}" clear small icon-start (click)="likeImage(image)">
            <ion-icon name='thumbs-up'></ion-icon>
            {{ image.likes }} Likes
          </button>
        </ion-col>
        <ion-col>
            <button [ngClass]="{'image_not_liked': !image.isLiked, 'image_liked': image.isLiked}" clear small icon-start (click)="likeImage(image)">
              <ion-icon name='share-alt'></ion-icon>
              Shares
            </button>
          </ion-col>
      </ion-row> -->
    </ion-card>
    <!-- <ion-img src="{{image.url}}"></ion-img>

    <p></p>

    <div class="heart_icon" (click)="likeImage(image)">

        <ion-icon name="thumbs-up"  [ngClass]="{'image_not_liked': !image.isLiked, 'image_liked': image.isLiked}"></ion-icon>
        <span style="width: fit-content; font-size: 15px;" [ngClass]="{'image_not_liked': !image.isLiked, 'image_liked': image.isLiked}">Like</span>
        <span style="float: right;">{{image.likes}}</span>
    </div>
    <div class="item_separator"></div> -->
  </ion-list>

  <!-- </ion-scroll> -->
</ion-content>

<style>
  .social-cards ion-col {
    padding: 0;
  }

</style>
