page-images {
  .item-inner {
    padding-right: 0px !important;
  }
  .label {
    margin: 0;
  }
  .list-ios,
  .list-md {
    margin: 0px;
  }
  .card-ios,
  .card-md {
    margin: 12px 5px;
    border-radius: 2px;
    width: calc(100% - 10px);
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }
  ion-list {
    ion-card {
      .separator {
        width: 95%;
        height: 1px;
        background: #ededed;
        margin: 0px auto;
      }
      .likes_count {
        transition: 1s linear all;
        display: inline-flex;
        padding: 5px 10px;
        .like_count_background {
          background: #3669c9;
          border-radius: 50%;
          width: 12px;
          height: 12px;
          text-align: center;
          .like_count_icon {
            width: 10px;
            height: 10px;
            margin: auto auto;
            position: relative;
            top: -4px;
          }
        }
        .like_count_text {
          color: darkgrey;
          font-size: 12px;
          padding: 0px 5px;
        }
      }
      button {
        padding: 10px;
        font-size: 15px;
        ion-icon {
          vertical-align: top;
        }
      }
      .image_not_liked {
        color: black;
      }
      .image_liked {
        color: rgb(54, 106, 201);
      }
    }
    // button {
    //   // padding: 10px;
    //   .image_not_liked {
    //     color: black;
    //   }
    //   .image_liked {
    //     color: rgb(75, 75, 187);
    //   }
    // cursor: pointer;
    // ion-icon {
    //   width: 20px;
    //   height: 20px;
    //   // vertical-align: top;
    // }
    // display: inline;
    // }
  }
}
